<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./style.css" />
    <title>challenge chapter 4</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!------------BACK TO HOME "/"--------------------->
        <a href="/"
          ><h1><strong><</strong></h1></a
        >
      </div>
      <div class="header">
        <img src="./assets/logo 1.png" alt="" />
      </div>
      <div class="header" style="color: rgb(224, 169, 18)">
        <h2>ROCK PAPER SCISSORS</h2>
      </div>
    </div>

    <div class="choices">
      <div>
        <h3>PLAYER</h3>
        <div class="user-choice" id="rock">
          <img src="./assets/batu.png" id="rock" alt="" />
        </div>
        <div class="user-choice" id="paper">
          <img src="./assets/kertas.png" id="paper" alt="" />
        </div>
        <div class="user-choice" id="scissors">
          <img src="./assets/gunting.png" id="scissors" alt="" />
        </div>
      </div>
      <div>
        <div><span></span></div>
        <div style="margin-top: 150px"><h1>VS</h1></div>
        <div></div>
      </div>
      <div>
        <h3>COMPUTER</h3>
        <div class="comp-choice" id="rock">
          <img src="./assets/batu.png" alt="" />
        </div>
        <div class="comp-choice" id="paper">
          <img src="./assets/kertas.png" alt="" />
        </div>
        <div class="comp-choice" id="scissors">
          <img src="./assets/gunting.png" alt="" />
        </div>
      </div>
    </div>

    <div class="reset" id="reset">
      <img src="./assets/refresh.png" alt="" srcset="" />
    </div>

    <script src="index.js" charset="utf-8"></script>
  </body>
</html>
