<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Challenge Chapter 5 | Samsul Ma'arif</title>

    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-theme.min.css" />

    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div id="main">
      <!-- Navbar start -->
      <div id="navbar">
        <div
          class="container"
          style="
            display: flex;
            justify-content: space-between;
            color: white;
            padding: 32px 32px 32px 32px;
            height: 100px;
            width: 100%;
            background-color: black;
            opacity: 0.4;
          "
        >
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div
              id="logo"
              style="margin-right: 100px; font-size: 28px; opacity: unset"
            >
              logo
            </div>
            <div style="width: 30px"></div>

            <div>
              <div style="display: flex">
                <div class="home-button">Home</div>
                <div style="width: 32px"></div>
                <div>Work</div>
                <div style="width: 32px"></div>
                <div>Contact</div>
                <div style="width: 32px"></div>
                <div>About Me</div>
              </div>
            </div>
          </div>
          <div
            id="sign-up"
            style="display: flex; flex-wrap: wrap; margin-top: 7px"
          >
            <div>Sign Up</div>
            <div style="width: 32px"></div>
            <div>Login</div>
          </div>
        </div>
        <div class="center-text" style="height: 100%; padding-top: 15%">
          <h1>PLAY TRADITIONAL GAME</h1>
          <p style="text-transform: none; padding-bottom: 10%">
            Experience new traditional game play
          </p>
<!-----------------PINDAH KE ENDPOINT /game--------------------------------------->
          <a href="/game">
            <button
            type="button"
            class="btn btn-warning tombol"
            style="margin-bottom: 100px"
            
          >
            PLAY NOW
          </button></a>
          

          <div><a>THE STORY</a></div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="about">
      <div id="about-text" style="width: 40%;">
        <p style="padding: 150px 0px 5px 15vh">What's so special?</p>
        <h1 style="padding: 5px 0px 20px 15vh">THE GAMES</h1>
      </div>
        <div style="padding-left: 0px; margin-top: 30vh;width: 50%;">
          <img src="./assets/rockpaperstrategy-1600.jpg" alt="the games" style="width: 100%;">
        </div>
      </div>      
    </div>

    <div class="game-features">
      <div class="container-fluid">
        <div
          style="background-color: rgb(0, 0, 0); width: 60%; height: 100%"
        ></div>
        <div style="padding-top: 10%">
          <p style="padding-left: 10px">What's so special?</p>
          <h1 style="padding: 10px">FEATURES</h1>

          <ul>
            <li>
              <p style="color: gold">TRADITIONAL GAMES</p>
              <p>
                If you miss your childhood, we provide many traditional games
                here
              </p>
            </li>

            <li><p style="color: gold">GAME SUIT</p></li>
            <li><p style="color: gold">TBD</p></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="system-req" style="padding-left: 5%">
      <div class="container-fluid" style="padding-top: 5%">
        <div style="display: flex; width: 35%">
          <h1>SYSTEM</h1>
        </div>
        <div><p>Can My Computer Run This game?</p></div>      
      </div>

      <div class="container-fluid" style="padding-bottom: 20px;"><h1>REQUIREMENTS</h1></div>
      <div>
        <table>        
          <tr>
              <td>
                <h4>OS:</h4>
                <p>Window 7 64 bit only</p>
                <p>(No OSX support at this time)</p>
              </td>
              <td>
                <h4>PROCESSOR:</h4>
                <p>Intel Core 2 Duo @2.4 GHZ or</p>
                <p>AMD Athlon X2 @2.8 GHZ</p>
              </td>             
          </tr>
          <tr>
              <td>
                <h4>MEMORY:</h4>
                <p>4 GB RAM</p>
              </td>
              <td>
                <h4>storage:</h4>
                <p>8 GB available space</p>
              </td>
          </tr>
          <tr>
              <td colspan="2">
                <h4>GRAPHICS:</h4>
                <p>NVIDIA GeForce GTX 660 2 GB or</p>
                <p>AMD Radeon HD 7850 2 GB DirectX11 (Shader Model 5)</p>
              </td>              
          </tr>
      </table>
        
      </div>
    </div>

    <div
      class="container-fluid"
      id="top-score"
      style="padding-top: 10%; padding-left: 5%"
    >
      <div style="width: 35%">
        <h1 style="padding-top: 10%">TOP SCORES</h1>
        <p style="padding-bottom: 30px">
          This top score from various games provided on this platform
        </p>
        <button type="button" class="btn btn-warning tombol">SEE MORE</button>
      </div>

      <div style="margin-top: -16vh">
        <div class="card" style="background-color: rgb(56, 56, 56);margin-left: 20vw; margin-right: 20px; padding: 10px 50px 10px 20px; border-radius: 10px;">
          <div class="card-header container-fluid">
            <div><img src="./assets/testimoni-1.jpg" alt="" style="width: 50px; border-radius: 80px; margin-left: -20px; margin-right: 20px;"></div>
            <div>
              <p style="color: gold;">Evan Lathi</p>
              <p style="font-size: medium; color: rgb(190, 189, 189);">PC Gamer</p>
            </div> 
          </div>
          <div class="card-body">
              <p style="font-size:medium; padding-top: 15px; padding-bottom: 10px;">"One of my gaming highlights of the year."</p>
              <p class="blockquote-footer" style="font-size: small;color: rgb(190, 189, 189);">October 18, 2018</p>
          </div>
        </div>

        <div style="width: 32px; height: 20px;"></div>

        <div class="container-fluid">
          <div style="width: 20%;"></div>
          <div class="card" style="background-color: rgb(56, 56, 56); width: 70%; padding: 10px 100px 10px 20px; border-radius: 10px;">
            <div class="card-header container-fluid">
              <div><img src="./assets/testimoni-2.jpg" alt="" style="width: 50px; border-radius: 80px; margin-left: -20px; margin-right: 20px;"></div>
              <div>
                <p style="color: gold;">Jada Griffin</p>
                <p style="font-size: medium; color: rgb(190, 189, 189);">Nerdreactor</p>
              </div> 
            </div>
            <div class="card-body">
                <p style="font-size:medium; padding-top: 15px; padding-bottom: 10px;">"The next big things in the world of streaming and survival games."</p>
                <p class="blockquote-footer" style="font-size: small;color: rgb(190, 189, 189)">December 21, 2018</p>
            </div>
          </div>
          <div></div>

        </div>

        <div style="width: 32px; height: 20px;"></div>

        <div class="card" style="background-color: rgb(56, 56, 56);margin-left: 20vw;margin-right: 20px; padding: 10px 100px 10px 20px; border-radius: 10px;">
          <div class="card-header container-fluid">
            <div><img src="./assets/testimoni-3.jpg" alt="" style="width: 50px; border-radius: 80px; margin-left: -20px; margin-right: 20px;"></div>
            <div>
              <p style="color: gold;">Aaron williams</p>
              <p style="font-size: medium; color: rgb(190, 189, 189);">Uproxx</p>
            </div> 
          </div>
          <div class="card-body">
              <p style="font-size:medium; padding-top: 15px; padding-bottom: 10px;">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</p>
              <p class="blockquote-footer" style="font-size: small;color: rgb(190, 189, 189);">December 24, 2018</p>
          </div>
        </div>

        


      </div>
    </div>
    <div class="container-fluid" id="newsletter">
      <div id="news-div1" style="width: 50%">
        <img
          src="./assets/tengkorak.jpg"
          alt=""
          style="height: 100%; padding-left: 50px"
        />
      </div>
      <div id="news-div2">
        <p>Want to stay in touch ?</p>
        <h1>NEWSLETTER</h1>
        <h1>SUBSCRIBE</h1>
        <p style="padding-bottom: 20px;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
          perspiciatis magnam nobis accusantium, voluptas, reprehenderit neque
          eum, minima provident saepe voluptatem ipsa fugiat modi? Numquam
          maiores neque sunt commodi dolor.
        </p>
        <div>

        <form class="form-inline" >         
          <div class="form-group mx-sm-3 mb-2">
            <input type="email" class="form-control" id="email-subs" placeholder="youremail@binar.co.id">
          </div>
          <button type="button" class="btn btn-warning mb-2 tombol">Subscibe now</button></div>
        </form>
        
      </div>
        
    </div>
      
    </div>
    <footer>
      <div>
        
        <div class="container-fluid" id="footer-div1">
          <div style="width: 30%"></div>
          <div><p>MAIN</p></div>
          <div style="width: 32px"></div>
          <div><p>ABOUT</p></div>
          <div style="width: 32px"></div>
          <div><p>GAME FEATURE</p></div>
          <div style="width: 32px"></div>
          <div ><p>SYSTEM REQUIREMENTS</p></div>
          <div style="width: 32px"></div>
          <div><p>QUOTES</p></div>
          <div style="width: 32px"></div>
          <div><img src="./assets/facebook.svg" alt=""></div>
          <div style="width: 32px"></div>
          <div><img src="./assets/twitter.svg" alt=""></div>
          <div style="width: 32px"></div>
          <div><img src="./assets/Vector.svg" alt=""></div>
          <div style="width: 32px"></div>
          <div><img src="./assets/twitch.svg" alt=""></div>
        </div>
        <hr>

        <div class="container-fluid" id="footer-div2">
          <div style="width: 30%;">&copy; 2018 Your Games, Inc. All Right Reserved</div>
          <div style="width: 40%"></div>
          <div  style="width: 30%">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</div>
        </div>

      </div>    
    </footer>
  </body>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script
    src="./bootstrap/js/bootstrap.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>

  <script src="./js/challenge.js"></script>
</html>
