<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <label for="email">Email</label>
      <br />
      <input type="email" name="email" placeholder="Enter email" />
      <br />

      <label for="password">Password</label>
      <br />
      <input type="password" name="password" placeholder="Enter password" />
      <br />

      <button type="submit">Login!</button>
    </form>
  </body>
</html>
