body {
  margin: 0;
  background-color: rgb(95, 67, 15);
}

.container {
  display: flex;
}
.header {
  padding: 10px;
}
.header h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  color: rgb(194, 129, 9);
}
.header h2 {
  font-size: 20px;
  margin-top: 10px;
}
.header img {
  width: 50px;
  height: 50px;
}

.choices img {
  max-width: 100%;
  max-height: 100%;
  height: 100px;
  width: 100px;
}

.choices {
  display: flex;
  display: flexbox;
  justify-content: space-around;
}
.choices h3 {
  text-align: center;
}

.user-choice {
  padding: 5px;
  /* background-color: red; */
  margin: 10px 0;
  border-radius: 20px;
}
.comp-choice {
  padding: 5px;
  /* background-color: red; */
  margin: 10px 0;
  border-radius: 20px;
}

.choices h1 {
  font-size: 70px;
}

.reset {
  text-align: center;
}

.reset img {
  width: 50px;
  height: 50px;
}


